/* login  */
.form-signin {
    padding: 15px;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divider h5 {
    margin: 12px 0px;
    font-size: 12px;
}
li.nav-item img {
    border-radius: 50px;
}
li.nav-item.profile {
    display: flex;
    align-items: center;
}