.form-signin {
    padding: 15px;
    margin: auto;
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.post-form input, textarea, select {
    margin: 6px;
    padding: 10px;
}